@model List<Category>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-outline-primary">
                <i class="bi bi-plus-circle"> Add Category</i>
            </a>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
        {
            <tr class="table-active">
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                <td>
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-info">
                        <i class="bi bi-pen"></i> Edit
                    </a>
                </td>
                <td>
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">
                        <i class="bi bi-trash3"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

